<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>perfTester_server.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>4096</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="FILE" />
    </appender>

<!--   <logger name="io.github.zlooo.fixyou.commons.pool" level="trace"/>-->
<!--   <logger name="io.github.zlooo.fixyou.netty.handler.MessageDecoder" level="debug"/>-->
<!--   <logger name="io.github.zlooo.fixyou.commons.ByteBufComposer" level="debug"/>-->
<!--   <logger name="io.github.zlooo.fixyou.netty.handler.SessionHandler" level="trace"/>-->
<!--   <logger name="io.github.zlooo.fixyou.parser.FixMessageParser" level="trace"/>-->
<!--   <logger name="io.github.zlooo.fixyou.parser.model.CharSequenceField" level="trace"/>-->
<!--   <logger name="io.netty.handler.logging.LoggingHandler" level="debug"/>-->
<!--   <logger name="io.github.zlooo.fixyou.netty.handler.AbstractMessageEncoder" level="trace"/>-->

    <root level="warn">
        <appender-ref ref="ASYNC" />
    </root>
</configuration>